.bandeau{
    background-color:#f2f2f2;
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    z-index: -1;
}

body{
    background:white;
}

.bandeau ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    padding: 5px;
}

.bandeau li a{
    padding: 10px;
    text-decoration: none;
    color: #898989;
}

.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 20px 0 20px;
    border: solid 1px red;

}

.recherche{
    display: flex;
    width: 60%;
    justify-content: flex-end;
    border: solid 1px red;
   margin: 0 0 0 200px;
    
   

}

.recherche img{
    width: 20px;
    padding: 0 5px 0 5px;
    border: solid 1px black;
    border-left: none;
}

.search {
width: 100%;
height: 40px;
border-radius: 0px;
align-items: center;
border: solid 1px black;
}


.action{
    display: flex;
    flex-direction: row;
    width: 300px; 
    justify-content: flex-end;
    }

.login , .panier{
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.login img, .panier img {
    width: 20px;
   
}

.login button, .panier button {
    background: none;
    border: none;
  


}

.link a, .panier a{
    text-decoration: none;
    color: black;
}


*{
    font-family: 'Urbanist', sans-serif;
}
/* MENU GENRE */ 

.ctn-ctg{

    display: flex;
   justify-content: center;

}

.gender{

    display: flex;
    flex-direction: row;
    width: 50%;
    font-weight: bold;
    list-style: none;
    justify-content: space-around;
  margin:20px 0 0 0;

}



/* MENU GENRE */ 